<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
    <meta property="og:url" content="<%= setting.siteDomain %>/mypage/article">
    <link rel="canonical" href="<%= setting.siteDomain %>/mypage/article">
    <link rel="stylesheet" href="/stylesheets/user/user.css">
  </head>
  <body>
    <%- include('../commons') %>
    <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="point">
        <%- include('./header') %>
        <%- include('../title', { title: '포인트 내역' }) %>
        <section id="item">
          <div class="items">
            <% points.forEach(point => { %>
              <div class="item">
                <div class="main">
                  <div class="type"><%= point.type %></div>
                </div>
                <div class="info">
                  <div class="point"><%= point.point.toLocaleString() %></div>
                  <div class="datetime"><%= point.datetime %></div>
                </div>
              </div>
            <% }) %>
          </div>
        </section>
        <%- include('../pagination') %>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>