<!DOCTYPE html>
<html>
  <head>
    <%- include('../head') %>
    <meta name="description" content="<%= setting.siteDescription %>">
    <meta property="og:type" content="website">
    <meta property="og:title" content="인기게시물 - <%= setting.siteName %>">
    <meta property="og:description" content="<%= setting.siteDescription %>">
    <%- include('../ogImage') %>
    <% if (url) { %>
    <meta property="og:url" content="<%= setting.siteDomain %>/best">
    <link rel="canonical" href="<%= setting.siteDomain %>/best">
    <% } else { %>
    <meta property="og:url" content="<%= setting.siteDomain %>/<%= url %>">
    <link rel="canonical" href="<%= setting.siteDomain %>/<%= url %>">
    <% } %>
    <link rel="stylesheet" href="/stylesheets/board/commons.css">
    <link rel="stylesheet" href="/stylesheets/board/list.css">
  </head>
  <body>
    <%- include('../commons') %>
    <%- include('../header') %>
    <main>
      <%- include('../aside', { mobile: false }) %>
      <article id="list">
        <%- include('../banner', { position: 'articleTop' }) %>
        <%- include('../title', { title }) %>
        <%- include(`./type/board`, { articles }) %>
        <%- include('../pagination') %>
        <%- include('./searchAndWrite') %>
        <%- include('../banner', { position: 'articleBottom' }) %>
      </article>
      <%- include('../aside', { mobile: true }) %>
    </main>
    <%- include('../footer') %>
  </body>
</html>